<div class="sidebar">
  <a href="/dashboard" class="<%= active==='dashboard'?'active':'' %>">Dashboard</a>
  <a href="/produk" class="<%= active==='produk'?'active':'' %>">Produk</a>
  <a href="/faq" class="<%= active==='faq'?'active':'' %>">FAQ</a>
  <a href="/sop" class="<%= active==='sop'?'active':'' %>">SOP</a>
  <a href="/promo" class="<%= active==='promo'?'active':'' %>">Promo</a>
  <a href="/claim" class="<%= active==='claim'?'active':'' %>">Claim</a>
  <a href="/blacklist" class="<%= active==='blacklist'?'active':'' %>">Blacklist</a>
  <a href="/buyers" class="<%= active==='buyers'?'active':'' %>">User Royal</a>
  <a href="/stock" class="<%= active==='stock'?'active':'' %>">Stock</a>
  <a href="/claims-replace" class="<%= active==='claims-replace'?'active':'' %>">Claim Replace</a>
  <a href="/claims-reset" class="<%= active==='claims-reset'?'active':'' %>">Reset</a>
</div>
